<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org" th:replace="/normal/base::layout(~{::section})">
<head>
<meta charset="US-ASCII">

<title>Home-Page</title>
</head>
<body>
    <section>
    <div class="container">
	
		<h1 class="success">Your booking is recorded !</h1>
        <h2 class="success">You will be called day before your number is called.</h2>
        <h3 class="success">Now, You will be redirected to home page in <div id="counter">5</div></h3>
	</div>
</section>

</body>
</html>